<div class='container'>
  <div class="user_info d-sm-flex row">
    <div class="info_left col-4">
      <div class='user_info_img'>
        <% if @user.profile_img? %>
          <%= image_tag @user.profile_img.thumb.url %>
        <% else %>
          <i class="far fa-user-circle "></i>
        <% end %>
      </div>
    </div>
    <div class="info_right col-8">
      <div class='info_top_wrapper d-sm-flex'>
        <div class='user_info_name'>
          <%= @user.name %>
        </div>
        <div class='user_info_following_btn'>
          <% if current_user == user %>
            <%= link_to 'プロフィールの編集', edit_user_path, class: 'btn btn-outline-secondary btn-sm profile_btn' %> 
          <% else %>
            <!--自分のプロフィールでは編集ボタンの表示-->
            <%= render 'relationships/follow_button', user: @user %>
          <% end %>
        </div>
      </div>
      
      <div class="info_middle_wrapper d-sm-flex">
        <div class="user_info_count_follow"><%= @count_followings %> フォロー</div>
        <div class="user_info_count_follower"><%= @count_followers %> フォワー</div>
      </div>
      
      
      <div　class='user_info_self_description'>
        <div class='description'>
          <pre><%= @user.description %></pre>
        </div>
      </div>
    </div>
    
  </div>

</div>