
  <div class='edit_user'>
    <h3>プロフィール編集</h3>
    <hr></hr>
     <%= form_with(model: @user, location: true) do |f| %>
      <div class='edit_image_container'>
        <% if @user.profile_img? %>
           <%= image_tag @user.profile_img.thumb.url %>
        <% else %>
           <i class="far fa-user-circle icon"></i>
        <% end %>
      </div>   
      <div class='edit_btn_container form-group'>
        <button type="file" class="btn">
          <%= f.file_field :profile_img, class: 'btn btn-success'%>
        </button>
      </div>
      <div class='form-group textarea'>
        <%= f.label '自己紹介'%>
        <%= f.text_area :description, class: 'form-control text_form', cols: '20', rows: '5', wrap: 'hard', maxlength: '140' %>
      </div>
         
   　　<%= f.submit '更新する', class: 'btn btn-primary' %>
   <% end %>
  </div>




