<%= render 'show_top_wrapper', user: @user %>

<hr>
<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a class="nav-link nav-reading <%= 'active' if current_page?(user_path(@user)) %>" href="<%= user_path(@user)%>" href="<%= user_path(@user)%>">読書中</a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-read <%= 'active' if current_page?(read_user_path(@user)) %>" href="<%= read_user_path(@user) %>">読了</a>
  </li>
</ul>
<div class="register_books">
 <%= render 'show_book_wrapper', reading_book: @reading_book %>
</div>
