
<div class='container'>
  <div class='book_page'>
    <div class='book_summary'>
      <div class="book_container_show d-md-flex">
        <div class="book_image">
          <%= link_to (image_tag(@book.image_url)), @book.item_url %>
        </div>
        <div class="book_info">
          <div class="book_title">
            <%= @book.title %>
          </div>
          <div>著者</div>
          <div class="book_author">
            <%= @book.author %>
          </div>
          <div>ステータス：<%= render 'status' %></div>
          
        </div>
      </div>
      <div class="buttons d-md-flex justify-content-end">
        <% if current_user.registered_book?(@book) %>
          <%= render 'status_button' %>
          <%= render 'delete_button' %>
        <% else %>
          <%= form_with(url: add_book_path, local: true, method: :post) do |f|%>
            <%= f.hidden_field :id, :value => @book.id %>
            <%= f.submit '本棚に追加', class: 'btn btn-primary add' %>
          <% end %>  
        <% end %>
      </div>
    </div>
  </div>
</div>