<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Bookshelf', root_path, class: 'navbar-brand pl-2' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <% if user_signed_in? %>
      <ul class="navbar-nav after-login">
        <li class="nav-item pt-1">
          <%= link_to "\uf015 マイページ", user_path(current_user), class: 'fa nav-link' %>
        </li>
        <li class="nav-item pt-1">
          <%= link_to "\uf067 本の追加", new_book_path, class: 'fa nav-link' %>
        </li>
        <li class="nav-item pt-1">
          <%= link_to "\uf521 ランキング", rankings_path, class: ' fa nav-link' %>
        </li>
        <li class="nav-item pt-1  nav-logout">
          <%= link_to "\uf2f5 ログアウト", destroy_user_session_path, method: :delete, class: 'fa nav-link' %>
        </li>
      </ul>
    
    <% else %>
      <ul class="navbar-nav before-login d-flex justify-content-end pr-4">
        <li class="nav-item nav-login">
          <%= link_to "\uf2f6 ログイン", new_user_session_path, class: 'fa nav-link' %>
        </li>
        <li class="nav-item nav-signup">
          <%= link_to "\uf2f6 サインアップ", new_user_registration_path, class: 'fa nav-link'%>
        </li>
      </ul>
    <% end %>
    
  </div>
</nav>